# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\lclement\Documents\Courses\EGR 222\2021.01 Spring\Weeks\Week 02 (2.2 - 2.4.2021)\Sample Code\02.04.InClassExamples\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
